<h2>Formulario de Cliente</h2>
<div class="container">
  <form [formGroup]="clienteForm" (ngSubmit)="buscarCliente()">
    <div class="form-group">
      <label for="tipoDocumento">Tipo de documento</label>
      <select id="tipoDocumento" formControlName="tipoDocumento" class="form-control">
        <option value="C">Cédula de ciudadanía</option>
        <option value="P">Pasaporte</option>
      </select>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Número de documento</label>
      <input
        type="text"
        id="numeroDocumento"
        formControlName="numeroDocumento"
        class="form-control"
        placeholder="Ingrese el número de documento"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.valid">Buscar</button>
  </form>
</div>
